.card {

  &:hover {
    color: blueviolet;
    font-size: large;
    .btn {
      //&:hover {
      &::after{
        //content: "wow groovy";
        background-color: #F07167;
      }
    }
    @use change-colors(white, red);
  }
}

