//
//@use "varz";
//@use "mixins";
//
//@use "card";
//@use "badge";
//@use "btn";


$spinner-width:           2rem;
$spinner-height:          $spinner-width;
$spinner-vertical-align:  -.125em;
$spinner-border-width:    .25em;
$spinner-animation-speed: .95s;
$spinner-width-sm:        1rem;
$spinner-height-sm:       $spinner-width-sm;
$spinner-border-width-sm: .2em;
$light-background:        #f2ece4;
$light-text:              #036;
$dark-background:         #6b717f;
$dark-text:               #d2e1dd;
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
@mixin gradient-x($start-color: $gray-300, $end-color: $gray-800, $start-percent: 0%, $end-percent: 100%) {

  .body{
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
  }
}
@keyframes spinner-border {
  to { transform: rotate(360deg) #{"/* rtl:ignore */"}; }
}

@keyframes spinner-grow {
  0% {
    opacity: 50;
    transform: scale(0);
  }
  50% {
    opacity: 50;
    transform: scale(2);
  }
}
@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}


@mixin change-colors($bg, $color){
  background-color: $bg;
  color: $color;
}

.card {

  &:hover {
    color: blueviolet;
    font-size: large;
    .btn {
      //&:hover {
      &::after{
        //content: "wow groovy";
        background-color: #F07167;
      }
      @include inline-animation(5s) {
        from { background-color: yellow }
        to { background-color: green }
      }
      @include change-colors(white, red);
      font-size: larger;
    }
  }
}


.btn{
  &:hover {
    @include change-colors(yellow, red);
  }
}
.badge{
  color: yellow;
  background-color: dimgray;
}