
.carousel-item {
    height: 50rem;
    background: #000;
    color:white;
    position: relative;
}
.container{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:50px;
}

.navbar-nav {
    float:none;
    margin:5px auto;
    text-align: center;
}
.navbar-nav > li{
    padding-left:35px;
    padding-right:35px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    color: #000033;
}

