.navbar-nav {
    float:none;
    margin:5px auto;
    text-align: center;
}
.navbar-nav > li{
    padding-left:35px;
    padding-right:35px;
}
/*to be deleted or keep all css-files*/
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
<<<<<<< Updated upstream
body{
    font-family: 'Josefin Sans', sans-serif;

=======
.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    scroll = normal
     */
    background-attachment: fixed;
}
.pimg1{
    background-image: url(../images/imghome/p1.jpg);
    min-height: 300px;
}
.pimg2{
    background-image: url(../images/imghome/p2.jpg);
    min-height: 300px;
}
.pimg3{
    background-image: url(../images/imghome/p3.jpg);
    min-height: 300px;
}

.section {
    text-align: center;
    padding: 50px 80px;
    margin-left: 250px;
    margin-right: 200px;
}
/*
.section-dark {
    background-color: #;
    color: #;
    }
.section-dark {
    background-color: #;
    color: #;
    }
 */
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: lightyellow;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border {
    background-color: #111;
    color: lightyellow;
    padding: 20px;
}
.ptext .border .trans {
    background-color: transparent;
}

@media (max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}
.disciplines {
    list-style-type: none;
    margin: 0;
    padding: 0;
>>>>>>> Stashed changes
<<<<<<< Updated upstream
}
=======
}
>>>>>>> home
>>>>>>> Stashed changes
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
>>>>>>> home
>>>>>>> Stashed changes
=======
>>>>>>> home
>>>>>>> Stashed changes
