.gmap{
    background-color: #FDFCDC;
}
.cntctinfo {
    background-color: #FED9B7;
}

.cntctform{
    background-color: #F07167;
}
/*----------------------PARALLEX------------------------*/
.pimg1{
    background-image: url(../images/imghome/p1.jpg);
    min-height: 300px;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: lightyellow;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border {
    background-color: #111;
    color: lightyellow;
    padding: 20px;
}
.ptext .border .trans {
    background-color: transparent;
}

@media (max-width:568px) {
    .pimg1 {
        background-attachment: scroll;
    }
}
/*--------------this part is a failed attempt to remove arrows from age input-----------*//*
#age{
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

!* Firefox *!
input[type=number] {
    -moz-appearance: textfield;
}
}*/
/*-----------this code is to make all the columns in row same height-----------------*/
/*.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/
/*---------------------------End of the code-----------------------------------------*/