
.infoimage {
    height: 16px;
    padding-right: 5px;
}

.formcontainer {
    background-color: #f0ead2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
}

.formbtn{
    background-color: #a98467;
}
a.formbtn:hover{
    background-color: #6c584c;
}
.contactlink {
    color: #806755;
    font-weight: bold;
}

a.contactlink:hover{
    color: #b9ca88;
    font-weight: bolder;
}

/*----------------------PARALLAX------------------------*/
.pimg1 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(../images/imghome/p1.jpg);
    min-height: 300px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: lightyellow;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: lightyellow;
    padding: 20px;
}

.ptext .border .trans {
    background-color: transparent;
}

@media (max-width: 568px) {
    .pimg1 {
        background-attachment: scroll;
    }
}

/*----------------------PARALLAX End------------------------*/