.gmap{
    background-color: #00A5CF;
}
.cntctinfo {
    background-color: #92E6DA;
}

.cntctform{
    background-color: #7AE582;
}

.cntctform .cntctinfo .gmap {

}
/*--------------this part is a failed attempt to remove arrows from age input-----------*/
/*#age {
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

!* Firefox *!
input[type=number] {
    -moz-appearance: textfield;
}*/


.navbar {
    background-color: #9FFFCB;
}

.navimg{
    height: 50px;
}


/*-----------this code is to make all the columns in row same height-----------------*/
/*.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/
/*---------------------------End of the code-----------------------------------------*/